@charset "UTF-8";
html {
  height: 100%; }

body {
  min-height: 100%; }

h1 {
  font: normal 50px "Lato", sans-serif; }

.container .well {
  background-color: #975A9C;
  border-color: #360650;
  color: white; }
  .container .well .logo {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #360650; }
    .container .well .logo.dark {
      background-color: #333; }

article h2 {
  font: 300 30px "Lato", sans-serif;
  color: #A746A7; }
  article h2:not(:first-child) {
    margin-top: 70px; }
article h3 {
  margin-top: 0;
  font: normal 20px "Lato", sans-serif;
  color: #5052A9;
  color: #A578A5;
  color: #944F94; }
  article h3:not(:first-child) {
    margin-top: 40px; }
article h4 {
  margin-top: 20px;
  color: #944F94;
  font: Normal 16px "Lato", sans-serif; }
article li,
article p {
  font: 300 15px "Roboto", sans-serif;
  line-height: 1.7em;
  letter-spacing: 0.05em;
  color: #444; }
article li:not(:first-child) {
  margin-top: 0.5em; }
article blockquote {
  background-color: #FFF5FF;
  border-color: #A578A5; }
  article blockquote cite {
    display: block;
    text-align: right;
    margin-top: 10px; }
    article blockquote cite p {
      color: #888;
      font-style: italic;
      margin: 0; }
    article blockquote cite p:first-child:before {
      display: inline;
      content: "—"; }
article pre {
  background-color: #402C40;
  background-color: #3f3f3f;
  border-color: #E8D1E8;
  color: #fff; }
article .image {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%; }
  article .image.border img {
    border: 1px solid #ccc; }
  article .image img {
    max-width: 100%; }
  article .image .caption {
    text-align: center;
    margin: auto; }
    article .image .caption p {
      display: inline-block;
      font-size: 12px; }
article table {
  width: 100%;
  margin-top: 20px; }
  article table tbody tr:hover td {
    background-color: #FFF3FF; }
    article table tbody tr:hover td span {
      opacity: 1.0 !important; }
  article table td {
    font: 300 14px "Roboto", sans-serif; }
    article table td + td:nth-child(3):last-child {
      width: 80%; }
    article table td.right {
      text-align: right;
      padding-right: 20px; }
    article table td.left {
      text-align: left; }
    article table td.center {
      text-align: center; }
    article table td.feature span {
      width: 18px;
      height: 18px;
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #ddd;
      border-radius: 1em;
      text-align: center;
      font-size: 10px; }
    article table td.feature.yes {
      color: #399839;
      color: #75A275;
      color: #4A984A; }
      article table td.feature.yes span {
        background-color: #C7EFC7;
        background-color: #D4FFD4;
        border-color: #7CC582;
        opacity: 0.7; }
    article table td.feature.no {
      color: #F37474;
      color: #D69595; }
      article table td.feature.no span {
        background-color: #F9E7E7;
        border-color: #DEBDBD;
        opacity: 0.5; }
    article table td.feature.both {
      color: #923792;
      color: #C389C3; }
      article table td.feature.both span {
        background-color: #FAEAFF;
        background-color: #f1e9fb;
        border-color: #E2CDE2;
        opacity: 0.7; }
    article table td.feature.not-available {
      color: #8E8E8E; }
      article table td.feature.not-available span {
        background-color: #fafafa;
        opacity: 0.5; }
    article table td.feature.unknown {
      color: #ECBEEC;
      font-weight: normal; }
  article table tbody tr td:first-child {
    width: 200px; }
  article table thead tr th,
  article table thead tr td {
    border-bottom: 2px solid #A578A5;
    padding-top: 15px;
    font-weight: bold;
    vertical-align: bottom; }
  article table.tilt thead tr td {
    font-weight: normal;
    position: relative; }
  article table thead tr td,
  article table thead tr th {
    position: relative; }
  article table thead tr td.tilt div {
    width: 3em;
    height: 10em; }
  article table thead tr td.tilt div + div {
    vertical-align: bottom;
    font-weight: normal;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: 0% 50%;
    left: 5px;
    bottom: 0em;
    width: 10em;
    height: 2.6em;
    line-height: 3em; }
  article table thead tr td.tilt div + div span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em; }
  article table thead tr td,
  article table tbody tr td {
    padding: 5px 3px; }
  article table thead tr td:first-child,
  article table tbody tr td:first-child {
    padding-left: 10px; }
  article table thead tr td:last-child,
  article table tbody tr td:last-child {
    padding-right: 10px; }

@font-face {
  font-family: 'Roboto';
  font-style: 300;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(/reproducibility-site/fonts/roboto/Roboto-Light.woff2) format("woff2"), url(/reproducibility-site/fonts/roboto/Roboto-Light.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"), local("Roboto"), url(/reproducibility-site/fonts/roboto/Roboto-Regular.woff2) format("woff2"), url(/reproducibility-site/fonts/roboto/Roboto-Regular.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(/reproducibility-site/fonts/lato/Lato-Light.woff2) format("woff2"), url(/reproducibility-site/fonts/lato/Lato-Light.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local("Lato Regular"), local("Lato-Regular"), url(/reproducibility-site/fonts/lato/Lato-Regular.woff2) format("woff2"), url(/reproducibility-site/fonts/lato/Lato-Regular.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: bold;
  src: local("Lato Heavy"), local("Lato-Heavy"), url(/reproducibility-site/fonts/lato/Lato-Heavy.woff2) format("woff2"), url(/reproducibility-site/fonts/lato/Lato-Heavy.woff) format("woff"); }
